@model List<Model.Product>;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
    int number = 1;
}

<style>
    .grid-container{
    display: grid;
    grid-template-columns:auto,auto,auto;
    padding:10px;
    }

</style>
<h1>Products</h1>
<a asp-controller="Product" asp-action="Create">Create new product</a>
<p></p>


<div class="card-deck">
    @foreach (var item in Model.OrderBy(p => p.ProductId))
    {
        string picture = "/images/bikes/bike" + number + ".jpg";
        <div class="row"></div>
        <div class="grid-container">
        <div class="card mb-3">
            <img style="height: 200px; width: 100%; display: block;" src=@picture alt="Bike image">
            <h3 class="card-header">@item.Name</h3>
            <div class="card-body">
                <h5 class="card-title">Price: @item.Price</h5>
                @*<h6 class="card-subtitle text-muted">Support card subtitle</h6>*@
            </div>
            <div class="card-body">
                <p class="card-text"><a class="btn btn-primary" asp-controller="Product" asp-action="Detail" asp-route-productId="@item.ProductId">Buy</a></p>
            </div>
            <div class="card-footer text-muted">
                <a class="btn btn-primary" asp-controller="Product" asp-action="Edit" asp-route-productId="@item.ProductId">Edit</a>
                <a class="btn btn-primary" asp-controller="Product" asp-action="Delete" asp-route-productId="@item.ProductId">Delete</a>

            </div>
            @*<ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>

                </div>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>*@
        </div>
            </div>
        number++;
    }
</div>

